<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Projects.Continents.mapper.LanguageMapper">
<select id="findByCountryId"
        parameterType="int"
        resultType="com.Projects.Continents.model.Language">

    SELECT
        c.name     AS name,
        l.language AS language
    FROM countries c
    JOIN country_languages cl ON c.country_id = cl.country_id
    JOIN languages l ON l.language_id = cl.language_id
    WHERE c.country_id = #{countryId}

</select>



</mapper>
